body {
    background-color: antiquewhite;
}

.container {
    height: 100vh;
    gap: 0px;
    overflow: hidden;
}

.container-primary {
    width: 100%;
    height: 70%;
    position: relative;
}

.slide,
.miniature {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}
.slide {
    display: none;

}

.slide.active {
    display: block;
}

.miniature-container {
    width: 80%;
    height: 20%;
}

.slide-container {
    width: calc(100% / 5);
    height: 100%;
    border-radius: 10px;
}

.arrow-circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(211, 211, 211, 0.5);
    cursor: pointer;
}

.arrow-circle.left {
    left: 5px;
}

.arrow-circle.right {
    right: 5px;
}

.arrow-circle:hover {
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(211, 211, 211, 0.8);
}

.miniature {
    filter: brightness(0.4);
    cursor: pointer;
}

.miniature.active {
    filter: brightness(1);
}

.miniature:hover {
    filter: brightness(1)
}

